<div class="expense-container">
    <h2 class="expense-title">My Expenses</h2>
    
    <div class="filter-container">
        <label for="month-filter" class="filter-label">Filter by month:</label>
        <select id="month-filter" class="month-filter">
            <option value="all">All</option>
            <option value="january">January</option>
            <option value="february">February</option>
            <option value="march">March</option>
            <option value="april">April</option>
            <option value="may">May</option>
            <option value="june">June</option>
            <option value="july">July</option>
            <option value="august">August</option>
            <option value="september">September</option>
            <option value="october">October</option>
            <option value="november">November</option>
            <option value="december">December</option>
        </select>
        
    </div>

    <div class="expense-list">
        
        <div class="expense-item" *ngFor="let expense of expenses">
            <i class="expense-icon fas fa-shopping-cart"></i>
            <div class="expense-details">
              <div class="expense-type">{{ expense.category }}</div>
              <div class="expense-description">{{ expense.remarks }}</div>
              <div class="expense-amount"> ${{ expense.amount }}</div>
              <div class="transaction-date">Transaction Date: {{ expense.expenseDate | date:'MMM d, yyyy' }}</div>
            </div>
            <div class="action-buttons">
              <button class="action-button edit-button" [routerLink]="['/edit-expense', expense.id]">Edit</button>
              <button class="action-button delete-button">Delete</button>
            </div>
          </div>

        
    </div>
</div>
