<div class="expense-list">
    <div class="expense-item">
        <i class="expense-icon fas fa-shopping-cart"></i>
        <div class="expense-details">
            <div class="expense-type">Grocery</div>
            <div class="expense-description">Potato bag 4</div>
            <div class="expense-amount">$120.00</div>
            <div class="transaction-date">Transaction Date: Oct 5, 2024</div>
        </div>
        <div class="action-buttons">
            <button class="action-button edit-button">Edit</button>
            <button class="action-button delete-button">Delete</button>
        </div>
    </div>
    
    <div class="expense-item">
        <i class="expense-icon fas fa-utensils"></i>
        <div class="expense-details">
            <div class="expense-type">Food</div>
            <div class="expense-description">Dinner at restaurant</div>
            <div class="expense-amount">$45.00</div>
            <div class="transaction-date">Transaction Date: Oct 4, 2024</div>
        </div>
        <div class="action-buttons">
            <button class="action-button edit-button">Edit</button>
            <button class="action-button delete-button">Delete</button>
        </div>
    </div>
    
    <div class="expense-item">
        <i class="expense-icon fas fa-gas-pump"></i>
        <div class="expense-details">
            <div class="expense-type">Fuel</div>
            <div class="expense-description">Gasoline refill</div>
            <div class="expense-amount">$60.00</div>
            <div class="transaction-date">Transaction Date: Oct 3, 2024</div>
        </div>
        <div class="action-buttons">
            <button class="action-button edit-button">Edit</button>
            <button class="action-button delete-button">Delete</button>
        </div>
    </div>
    
    <div class="expense-item">
        <i class="expense-icon fas fa-plane"></i>
        <div class="expense-details">
            <div class="expense-type">Travel</div>
            <div class="expense-description">Flight to New York</div>
            <div class="expense-amount">$300.00</div>
            <div class="transaction-date">Transaction Date: Oct 2, 2024</div>
        </div>
        <div class="action-buttons">
            <button class="action-button edit-button">Edit</button>
            <button class="action-button delete-button">Delete</button>
        </div>
    </div>
</div>