<div class="expense-container">
    <h2 class="expense-title">My Expenses</h2>
    
    <div class="filter-container">
      <label for="month-filter" class="filter-label">Filter by month:</label>
      <select id="month-filter" class="month-filter" [(ngModel)]="selectedMonth" (change)="filterExpenses()">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>   
      
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
        
    </div>

    <div class="summary-container" [ngClass]="{ 'hidden': expenses.length === 0 }">
      <h4>Summary</h4>
      <ul>
        <!--<li *ngFor="let category of totalSpendByCategory | keyvalue">
          {{ category.key }}: ${{ category.value }}
        </li>-->
        <li *ngFor="let category of groupedExpenses | keyvalue">
          {{ category.key }} - Total: {{ category.value.totalAmount | currency }}
        </li>
      </ul>
      <ul>
        <!--<li *ngFor="let month of totalSpendByMonth | keyvalue">
          {{ getMonthName(month.key) }}: ${{ month.value }}
        </li>-->
        <li>
          <b>Total spent : ${{totalAmount}} </b>
        </li>
      </ul>
      <canvas id="myChart"></canvas>
    </div>

    

    <div class="expense-list">

        <div *ngIf="expenses.length === 0" class="no-expenses">
          Hey, It seems like you haven't spent any amount yet!  <br>
          Do you want to add any expense now?
          <button class="add-expense-button" routerLink="/add-expense">Add Expense</button>
        </div>
        
        <div class="expense-item" *ngFor="let expense of expenses">
            <i class="expense-icon fas fa-shopping-cart"></i>
            <div class="expense-details">
              <div class="expense-type">{{ expense.category }}</div>
              <div class="expense-description">{{ expense.remarks }}</div>
              <div class="expense-amount"> ${{ expense.amount }}</div>
              <div class="transaction-date"> {{ expense.expenseDate | date:'MMM d, yyyy' }}</div>
            </div>
            <div class="action-buttons">
              <button class="action-button edit-button" [routerLink]="['/edit-expense', expense.id]">Edit</button>
              <button class="action-button delete-button" (click)="deleteExpense(expense)">Delete</button>
            </div>
          </div>

        
    </div>

    <!-- Other content of your component -->

    <div class="button-container" *ngIf="expenses.length !== 0">
      <a routerLink="/add-expense" class="add-expense-button">Add Expense</a>
    </div>


    
</div>
